@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* navigation section */
.navigation {
    background-color: rgb(1, 1, 88);
    display: flex;
    height: 5vh;
    align-items: center;
    object-fit: contain;
    width: 100%;
    position: sticky;
}

.header {
    width: 92%;
    margin-left: 10px;
    position: sticky;
}

.header>a {
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
}

.strongTitle {
    background-color: #fff;
    color: rgb(1, 1, 88);
    letter-spacing: 2.5px;
    font-weight: 700;
    font-size: 13px;
    padding: 5px;
}

.menu {
    display: flex;
}

.menu span {
    cursor: pointer;
}

.close,
.menu {
    color: #fff;
    font-weight: 400;
    margin-right: 10px;
    float: right;
}



/* hamburger icon */
.line {
    background-color: #fff;
    width: 25px;
    height: 1.7px;
    margin: 4px;
    cursor: pointer;
}

/* overlay */
.sidebar {
    background-color: rgba(4, 4, 80, 0.911);
    color: #fff;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 100;

}

.closebtn {
    display: none;
}

.menu-container {
    width: 800px;
    margin: 80px auto;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sidebar span {
    text-align: right;
    font-size: 30px;
    padding: 20px;
    font-weight: normal;
    border: 2px solid #fff;

}


.menu-container li {
    list-style: none;
    border-bottom: 1px solid rgba(126, 125, 125, 0.466);
}


.menu-container a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 3;
    letter-spacing: 2px;
}

.button {
    display: block;
}

.btn {
    width: 50%;
    padding: 16px;
    text-transform: uppercase;
    font-size: 15px;
    display: block;
    margin: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    border: 1px solid transparent;
}

.btn-2 {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
}

.btn-1:hover {
    color: #fff;
    background-color: rgba(124, 181, 255, 0.856);
}

.btn-2:hover {
    border-color: rgba(124, 181, 255, 0.856);
    color: rgba(124, 181, 255, 0.856);
}

/* hero section */
.heroSection {
    background-color: rgb(1, 1, 88);
    height: 65vh;
}

.heroContent {
    top: 25%;
    left: 5%;
    transform: translate(0%, 0%);
    position: absolute;
    width: 80%;
    color: #fff;
    text-align: left;
}

.heroContent h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.heroTxt {
    display: flex;
    object-fit: contain;
    align-items: center;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 560;
    letter-spacing: 2px;
}

.hero-btn {
    width: 30%;
    margin-left: 10px;
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
}

.hero-btn:hover {
    color: rgba(124, 181, 255, 0.856);
    border-color: rgba(124, 181, 255, 0.856);
}

/* call-to-action */
#about {
    min-height: 30vh;
}

.cta {
    text-align: center;
    width: 70%;
    margin: 30px auto;
    justify-content: center;
    object-fit: contain;
    align-items: center;
    display: flex;
    padding: 5rem;
}

.cta p {
    font-size: 20px;
    line-height: 2;
    font-weight: 500;
}






/* currency */
#converter {
    background-color: rgb(10, 11, 70);
    height: 40vh;
    position: relative;
}

.converter_container {
    position: absolute;
    width: 50%;
    margin: 30px auto;
    left: 35%;
    top: 40%;
    transform: translate(0%, -30%);
    display: flex;
}

.currency,
.exchange {
    margin-right: 25px;
}

.exchange_btn {
    padding: 10px;
    border: 0px;
    border-radius: 3px;
    color: rgb(240, 112, 26);
}

.select {
    padding: 8px 12px;
    border: 1px solid #dddd;
    background-color: #eeee;
    cursor: pointer;
    border-radius: 5px;

    /* replace default styling (arrow) */
    /* appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     background-image: url('data:image/svg+xml:utf8'<svg xmlns='http://w3.org/2000/svg' width: '100' height: '50'><polygon points= '0,0 100,0 50,50' style='fill:%23666666;'/></svg>'); */
}

.select:focus,
.select:hover {
    outline: none;
    border: 1px solid #bbbb;
}

.select option {
    background-color: rgb(142, 142, 143);
}

#init_amount,
#fin_amount {
    width: 40px;
    padding: 9px 12px;
    border: 0px solid transparent;
    border-radius: 5px;
}

.rate {
    text-align: center;
    width: 15%;
    margin: 30px auto;
    justify-content: center;
    object-fit: contain;
    align-items: center;
    display: flex;
    margin-top: 100px;
    left: 41%;
    color: rgb(240, 112, 26);
    padding: 5px;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;

}


.footer {
    padding: 2rem;
    text-align: center;
    color: rgb(83, 83, 83);
    font-size: 15px;
    position: sticky;
    top: 0;
    width: 100%;
}

  

 /* Mobile devices */
@media only screen and (max-width: 480px) and (min-width: 320px) {
    .header {
        width: 85%;
    }

    .header>a {
        color: #fff;
        text-decoration: none;
        font-size: 9px;
        font-weight: 700;
        letter-spacing: 2.5px;
    }

    .strongTitle {
        letter-spacing: 1.5px;
        font-weight: 700;
        font-size: 9px;
        padding: 4px;
    }

    .menu span {
        margin-right: 3px;
        font-size: 9px;
        font-weight: normal;
        margin-left: -20px;
        align-items: center;
        object-fit: contain;
        display: flex;
    }

    .line {
        width: 20px;
        height: 1.8px;
        margin: 3px;
    }

     .menu-container {
         width: 363px !important;
         margin-top: 100px;
     }

     .sidebar span {
         text-align: right;
         font-size: 20px;
         padding: 14px;
         font-weight: normal;
         border: 1px solid #fff;
     }

     .menu-container a {
         font-size: 12px;
     }

     .btn {
         padding: 7px;
     }

     .btn,
     .btn-1,
     .btn-2 {
         font-size: 11px;
     }


     .sidebar {
         background-color: rgba(4, 4, 80, 0.705);
         color: #fff;
         position: absolute;
         height: 100%;
         width: 100%;

     }

     .heroContent {
             position: absolute;
             width: 90%;
         }

     .heroContent h1 {
             font-size: 1.7rem;
         }

     .hero-btn {
             width: 40%;
             border: 2px solid #fff;
             font-size: 10px;
             font-weight: 600;
         }

      .heroTxt {
             font-weight: 700;
             letter-spacing: 1.4px;
             font-size: 12px;
         }


       .cta {
           text-align: center;
           width: 60%;
           margin: 30px auto;
           padding: 2rem;
       }

       .cta p {
           font-size: 15px;
           line-height: 1.4;
           font-weight: 500;
       }

       .converter_container {
           width: 50%;
           left: 17%;
           top: 15%;
           transform: translate(0%, -10%);
           padding: 10px;
       }

       #init_amount,
       #fin_amount {
           margin-top: 10px;
           width: 50px;
           margin-left: 0px;
           padding: 12px;
       }

     .rate{
        top: 35%;
        left: 23%;
     }


}

/* ipad, tablet  */
@media only screen and (max-width: 768px) and (min-width: 481px) {
    
}

/* small screens, laptops */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    
}

/* Desktops, large screens */
@media only screen and (max-width: 1200px) and (min-width: 1025px) {
    
}

/* Extra large screens, TV */
@media only screen and (min-width: 1201px) {
    ...
}




@media screen and (max-width: 768px) {
    .menu-container {
        width: 500px;
        margin: 80px auto;

    }
}



